<div class="products-page">

  <!-- HEADER -->

<div class="products-header">
  <div class="products-title">
    <span class="section-label">Admin</span>
    <h1>Termékek</h1>
  </div>

  <div class="actions">
    <input pInputText type="text" placeholder="Termékek keresése..."  [(ngModel)]="search" />
    <button class="btn-primary" (click)="add()">
      Termék hozzáadása
    </button>
  </div>
</div>

<!-- TABLE -->
<div class="products-table">
  <p-table
    [value]="filteredProducts"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    styleClass="product-table">

    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th>Kép</th>
        <th>Név</th>
        <th>Ár</th>
        <th>Készlet</th>
        <th>Leírás</th>
        <th>SKU</th>
        <th>Kategória</th>
        <th >Műveletek</th>
      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <img [src]="getImageUrl(product.image)" class="product-img" />
        </td>

        <td class="product-name">
          {{ product.name }}
        </td>

        <td class="price">
          {{ product.price }} Ft
        </td>

        <td>
          <span class="stock" [ngClass]="{ 'low-stock': product.stock < 40 }">
            {{ product.stock }}
          </span>
        </td>
        <td class="category">
          {{product.description}}
        </td>

        <td class="sku">
          {{ product.sku }}
        </td>
        <td class="category">
          {{ product.category.name }}
        </td>

        <td class="actions text-end">
          <button class="btn-ghost"  (click)="edit(product)">Szerkesztés</button>
          <button class="btn-danger" (click)="delete(product)">Törlés</button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
</div>

  <!-- DIALOG -->
<div class="dialog-content">

  <p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '420px' }"
  styleClass="lux-dialog"
  [header]="isEditMode ? 'Termék szerkesztése' : 'Termék hozzáadása'">


    <div class="dialog-content">
      <!-- NAME -->
      <div class="field">
        <label>Név</label>
        <input type="text" pInputText [(ngModel)]="newProduct.name" />
      </div>
      <!-- Price -->
      <div class="field">
        <label>Ár</label>
        <input type="number" pInputText [(ngModel)]="newProduct.price" />
      </div>
      <!-- NAME -->
      <div class="field">
        <label>Készlet</label>
        <input type="number" pInputText [(ngModel)]="newProduct.stock" />
      </div>

      <div class="field">
        <label>Leírás</label>
        <textarea type="text" pInputText [(ngModel)]="newProduct.description">{{newProduct.description || ""}}</textarea>
      </div>

      <div class="field">
        <label>SKU</label>
        <input type="text" pInputText [(ngModel)]="newProduct.sku" />
      </div>

      <div class="field">
        <label>Kategória</label>

        <select class="lux-select" [(ngModel)]="newProduct.category_id" required>
          <option [ngValue]="null" disabled selected>
            Válasszon kategóriát
          </option>

          <option *ngFor="let cat of categories" [ngValue]="cat.id">
            {{ cat.name }}
          </option>
        </select>
      </div>
      
      <div class="field mb-3">
        
          <label for="formFile" class="form-label">Kép URL</label>
          <input class="form-control" type="file" id="formFile"(change)="onFileSelected($event)">
        </div>
        <img *ngIf="isEditMode" [src]="getImageUrl(newProduct.image)" style="max-width: 400px; width: 100%; height: 100%;" class="product-img" />

    </div>
    

    <!-- FOOTER -->
    <ng-template pTemplate="footer">
      <div class="dialog-footer">
        <button class="btn-ghost" (click)="displayDialog = false"> Mégse</button>
        <button class="btn-primary" (click)="save()"> Mentés</button>
      </div>
    </ng-template>
  </p-dialog>
</div>

