
<div class="products-page">

    <div class="products-header">
  
      <div>
        <h1>All Products</h1>
        <span class="subtitle">Manage product inventory</span>
      </div>
  
      <div class="actions">
  
        <input
          pInputText
          type="text"
          placeholder="Search product..."
          [(ngModel)]="search"
        />
  
        <button pButton label="Add Product" icon="pi pi-plus"></button>
  
      </div>
  
    </div>
  
  
    <div class="products-table">
  
      <p-table
        [value]="products"
        responsiveLayout="scroll"
        styleClass="product-table"
      >
  
        <ng-template pTemplate="header">
          <tr>
  
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>SKU</th>
            <th style="width:150px">Actions</th>
  
          </tr>
        </ng-template>
  
  
        <ng-template pTemplate="body" let-product>
  
          <tr>
  
            <td>
              <img
                [src]="product.image"
                class="product-img"
              />
            </td>
  
            <td class="product-name">
              {{product.name}}
            </td>
  
            <td class="price">
              ${{product.price}}
            </td>
  
            <td>
  
              <span
                class="stock"
                [ngClass]="{
                  'low-stock': product.stock < 10
                }"
              >
                {{product.stock}}
              </span>
  
            </td>
  
            <td>{{product.sku}}</td>
  
            <td>
  
              <button
                class="edit-btn"
                (click)="edit(product)"
              >
                Edit
              </button>
  
              <button
                class="delete-btn"
                (click)="delete(product.id)"
              >
                Delete
              </button>
  
            </td>
  
          </tr>
  
        </ng-template>
  
      </p-table>
  
    </div>
  
  </div>