<div class="register-page">

  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-center">

      <div class="col-lg-10">

        <div class="register-wrapper row">

          <!-- Bal oldal -->
          <div class="col-md-6 register-card">

            <h1 class="register-title">Registration</h1>

            <div class="mt-4">
              <div class="form-floating mb-3">
                <input type="email"  class="form-control w-100 mb-3" id="floatingEmail" placeholder="name@example.com" [(ngModel)]="user.email">
                <label for="floatingEmail">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="name"  class="form-control w-100 mb-3" id="floatingName" placeholder="Username" [(ngModel)]="user.name">
                <label for="floatingName">Username</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control w-100 mb-3" id="floatingPassword" placeholder="Password" [(ngModel)]="user.password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control w-100 mb-3" id="floatingConfPass" placeholder="Password confirmation" [(ngModel)]="user.confirm">
                <label for="floatingConfPass">Password confirmation</label>
              </div>

              <div class="d-flex justify-content-between small-text">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="TermsAccept">
                  <label class="form-check-label" for="flexCheckDefault">
                    I accept the TermsOfService
                  </label>
                </div>
                


              </div>
              <div class="d-flex flex-column">
                <button type="button" class="btn register-btn w-70 mt-4" (click)="register()">Register</button>
                <button type="button" class="btn login-btn w-70 mt-3" [routerLink]="['/login']" >If you already have an account, log in!</button>
              </div>
             
            </div>

          </div>

          <!-- Jobb oldal -->
          <div class="col-md-6 image-panel">

            
            <img src="main.png" alt="Perfume Model">

          </div>

        </div>

      </div>

    </div>
  </div>

</div>