<div class="orders-page">

  <div class="orders-header">

    <div>
      <h1>All Orders</h1>
      <span class="subtitle">Manage customer orders</span>
    </div>

    <div class="actions">

      <input
        pInputText
        type="text"
        placeholder="Search order..."
        [(ngModel)]="search"
      />

      <button pButton label="New Order" icon="pi pi-plus"></button>

    </div>

  </div>


  <div class="orders-table">

    <p-table
      [value]="orders"
      responsiveLayout="scroll"
      styleClass="order-table"
    >

      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>User ID</th>
          <th>Items</th>
          <th>Order Date</th>
          <th>Status</th>
          <th style="width:150px">Actions</th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-order>
        <tr>

          <td>{{ order.id }}</td>

          <td>{{ order.user.email }}</td>
          
          <td>
            <span class="items-link" (click)="openItemsDialog(order)">
              View items ({{ order.items?.length || 0 }})
            </span>
          </td>
                    
          <td>
            {{ order.order_date ? (order.order_date | date:'yyyy-MM-dd HH:mm') : '—' }}
          </td>

          <td>
            <span
              class="status"
              [ngClass]="{
                'processing': order.status === 'Feldolgozás alatt',
                'completed': order.status === 'Kész',
                'canceled': order.status === 'Törölve'
              }"
            >
              {{ order.status || '—' }}
            </span>
          </td>

          <td>

            <button class="edit-btn" (click)="edit(order)">
              Edit
            </button>

            <button class="delete-btn" (click)="delete(order.id)">
              Delete
            </button>

          </td>

        </tr>
      </ng-template>

    </p-table>
    <p-confirmDialog></p-confirmDialog>
  </div>
  <p-dialog
  [(visible)]="itemsDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '400px' }"
  styleClass="lux-dialog"
  header="Order Items"
>

  <div class="dialog-content">

    <div 
      class="item-row"
      *ngFor="let item of selectedItems"
      (click)="selectItem(item)"
    >
      {{ item.product_id }}
    </div>

  </div>

</p-dialog>
</div>
