<div class="orders-page">

  <div class="orders-header">

    <div>
      <h1>All Orders</h1>
      <span class="subtitle">Manage customer orders</span>
    </div>

    <div class="actions">

      <input
        pInputText
        type="text"
        placeholder="Search order..."
        [(ngModel)]="search"
      />

      <button pButton label="New Order" icon="pi pi-plus"></button>

    </div>

  </div>


  <div class="orders-table">

    <p-table
      [value]="orders"
      responsiveLayout="scroll"
      styleClass="order-table"
    >

      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>User ID</th>
          <th>Items</th>
          <th>Order Date</th>
          <th>Status</th>
          <th style="width:150px">Actions</th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-order>
        <tr>

          <td>{{ order.id }}</td>

          <td>{{ order.user.email }}</td>
          
          <td>
            <span class="items-link" (click)="openItemsDialog(order.id, order.items?.length)">
              View items ({{ order.items?.length || 0 }})
            </span>
          </td>
                    
          <td>
            {{ order.order_date ? (order.order_date | date:'yyyy-MM-dd HH:mm') : '—' }}
          </td>

          <td>
            <span
              class="status"
              [ngClass]="{
                'processing': order.status === 'Feldolgozás alatt',
                'completed': order.status === 'Kész',
                'canceled': order.status === 'Törölve'
              }"
            >
              {{ order.status || '—' }}
            </span>
          </td>

          <td>

            <button class="edit-btn" (click)="edit(order)">
              Edit
            </button>

            <button class="delete-btn" (click)="delete(order.id)">
              Delete
            </button>

          </td>

        </tr>
      </ng-template>

    </p-table>
    <p-confirmDialog></p-confirmDialog>
  </div>
  <!--ORDER ITEMS DIALOG------------------------------------------------------------------->
  <p-dialog
  [(visible)]="itemsDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '600px' }"
  styleClass="lux-dialog"
  header="Order Items"
>

  <div class="dialog-content">

    <p-table
      [value]="selectedItems"
      responsiveLayout="scroll"
      styleClass="lux-table"
    >

      <!-- HEADER -->
      <ng-template pTemplate="header">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Teljes Ár</th>
          <th>Műveletek</th>
        </tr>
      </ng-template>

      <!-- BODY -->
      <ng-template pTemplate="body"  let-item let-i="rowIndex">
        <tr>

          <td class="name">
            {{ item.product?.name }}
          </td>

          <td>
             <input
                type="number"
                pInputText
                [(ngModel)]="selectedItems[i].quantity"
                min="1"
              />
          </td>

          <td>
            {{ item.price * item.quantity | number:'1.2-2' }}
          </td>
          <td>
            <button class="delete-btn" (click)="deleteItem(item)">
              Delete
            </button>
          </td>

        </tr>
      </ng-template>

    </p-table>

  </div>

  <!-- Product refound is kell a stockba await eredeti db - a ngm db ha 4 és 4 maradt 0 refound stock
   save button az oszlophoz hogy könnyebb legyen a save 
   meg az EGÉSZ order edit-delete cucc

   FOOTER -->
  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button class="btn-primary" (click)="saveItems()">
        Save
      </button>
    </div>
  </ng-template>

</p-dialog>
</div>
