<div class="orders-page">

  <div class="orders-header">

    <div>
      <span class="subtitle">Admin</span>
      <h1>Összes rendelés</h1>
    </div>

    <div class="actions">
      <input
        pInputText
        type="text"
        placeholder="Rendelések keresése(email)..."
        [(ngModel)]="search"
      />
    </div>
  </div>

  <div class="orders-table">
    <p-table
      [value]="filteredOrders"
      responsiveLayout="scroll"
      styleClass="order-table">

      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Felhasználó email</th>
          <th>Tételek</th>
          <th>Rendelési időpont</th>
          <th>Rendelés ára</th>
          <th>Státusz</th>
          <th style="width:150px">Művelet</th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-order>
        <tr>

          <td>{{ order.id }}</td>

          <td>{{ order.user.email }}</td>
          
          <td>
            <span class="items-link" (click)="openItemsDialog(order.id, order.items?.length)">
              Tételek megnézése ({{ order.items?.length || 0 }})
            </span>
          </td>
                    
          <td>
            {{ order.order_date ? (order.order_date | date:'yyyy-MM-dd HH:mm') : '—' }}
          </td>
          <td>
            {{order.total_price}}
          </td>
          <td>
            <span
              class="status"
              [ngClass]="{
                'processing': order.status === 'Feldolgozás alatt',
                'completed': order.status === 'Kész',
                'canceled': order.status === 'Törölve'
              }"
              (click)="statusChange( order.id,order.status)"
            >
              {{ order.status || '—' }}
            </span>
          </td>

          <td>
            <button class="delete-btn" (click)="delete(order)">
              Törlés
            </button>

          </td>

        </tr>
      </ng-template>

    </p-table>
    <p-confirmDialog></p-confirmDialog>
  </div>
  <!--ORDER ITEMS DIALOG------------------------------------------------------------------->
  <p-dialog
  [(visible)]="itemsDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '800px' }"
  styleClass="lux-dialog"
  header="Order Items"
>

  <div class="dialog-content">

    <p-table
      [value]="selectedItems"
      responsiveLayout="scroll"
      styleClass="lux-table"
    >

      <!-- HEADER -->
      <ng-template pTemplate="header">
        <tr>
          <th>Termék</th>
          <th>Mennyiség</th>
          <th>Ár</th>
          <th>Műveletek</th>
        </tr>
      </ng-template>

      <!-- BODY -->
      <ng-template pTemplate="body"  let-item let-i="rowIndex">
        <tr>

          <td class="name">
            {{ item.product?.name }}
          </td>

          <td>
             <input
                type="number"
                pInputText
                [(ngModel)]="selectedItems[i].quantity"
                min="0"
              />
          </td>

          <td>
            ${{ item.price * item.quantity | number:'1.2-2' }}
          </td>
          <td>
            <button class="btn-ghost" (click)="saveItems(item)">
              Mentés
            </button>
            <button class="delete-btn" (click)="deleteItem(item)">
              Törlés
            </button>
          </td>

        </tr>
      </ng-template>

    </p-table>

  </div>

  <!--  FOOTER -->
  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      
    </div>
  </ng-template>

</p-dialog>
</div>
