<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/about">About us</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/home"><img src="Servinelogo.png" alt="" style="width: 30px;"></a>
    <a *ngIf="isloggedin" routerLink="/profile">Profile</a>
    <a *ngIf="!isloggedin" routerLink="/login">Profile</a>
    <a routerLink="/contact">Contact us</a>
  </div>

  <a *ngIf="cartItemCount > 0" routerLink="/cart" class="cart-icon-wrapper">
    <img src="cart.png" alt="" style="width: 100%;">
    
    <span class="badge">{{ cartItemCount }}</span>
  </a>
</nav>