<div class="categories">

  <!-- HEADER -->
  <div class="categories__header">

    <div class="categories__title">
      <span class="section-label">Admin</span>
      <h1>Categories</h1>
    </div>

    <div class="categories__actions">
      <input  pInputText  type="text"  placeholder="Search category..."  [(ngModel)]="search"/>
      <button class="btn-primary" (click)="add()">
        Add Category
      </button>
    </div>
  </div>

  <!-- TABLE -->
  <div class="categories__table">

    <p-table
      [value]="filteredCategories"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="10"
      styleClass="lux-table"
    >

      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Parent</th>
          <th>Name</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-cat>
        <tr>

          <td class="id">{{ cat.id }}</td>

          <td>
            <span class="parent">
              {{ cat.parent?.name ?? 'Root' }}
            </span>
          </td>

          <td class="name">{{ cat.name }}</td>

          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge--root': !cat.parent_id,
                'badge--child': cat.parent_id
              }"
            >
              {{ cat.parent_id ? 'Subcategory' : 'Main' }}
            </span>
          </td>

          <td class="actions text-end">
            <button class="btn-ghost" (click)="edit(cat)">
              Edit
            </button>

            <button class="btn-danger" (click)="delete(cat.id,cat.name)">
              Delete
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog></p-confirmDialog>
  </div>
  <p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '420px' }"
  styleClass="lux-dialog"
  [header]="isEditMode ? 'Edit Category' : 'Add Category'">
    <!-- DIALOG -->
    <div class="dialog-content">
      <!-- NAME-->
      <div class="field">
        <label>Name</label>
        <input type="text" pInputText [(ngModel)]="NewCategory.name"/>
      </div>
       <!-- PARENT -->
      <div class="field">
        <label>Parent Category</label>
        <select class="lux-select"[(ngModel)]="NewCategory.parent_id" required>
          <option [ngValue]="null" disabled selected>
            Select parent category
          </option>

          <option *ngFor="let cat of categories" [ngValue]="cat.id">
            {{ cat.name }}
          </option>
        </select>
      </div>
    </div>
    <!-- FOOTER -->
    <ng-template pTemplate="footer">
      <div class="dialog-footer">
        <button  class="btn-ghost" (click)="displayDialog = false"> Cancel</button>
        <button class="btn-primary"(click)="save()"> Save</button>
      </div>
    </ng-template>
  </p-dialog>
</div>